<div id="table-div" class="container my-5">
    <h1 class="mb-3">Users</h1>

    <table id="table" class="table table-striped" *ngIf="users && users.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td><button type="button" class="btn btn-outline-secondary" (click)="editUser(user)">Edit</button></td>
            </tr>
          </tbody>
    </table>
    <div >
        <p *ngIf="!users || users.length <= 0">No Users Found</p>
        <button type="button" class="btn btn-outline-secondary" (click)="initNewUser()">Create user</button>
    </div>
    
    
</div>

