<div class="container my-5">
    <h1 class="mb-3">Products</h1>

    <table class="table table-dark table-striped" *ngIf="products && products.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of products">
              <td>{{prod.name}}</td>
              <td>{{prod.price}}</td>
              <td><button type="button" class="btn btn-light" (click)="editProduct(prod)">Edit</button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-secondary" (click)="initNewProduct()">Create product</button></td>
            </tr>
          </tfoot>
    </table>
    <div *ngIf="!products || products.length <= 0">
        <p>No Products Found</p>
        <button type="button" class="btn btn-dark" (click)="initNewProduct()">Create Product</button>
    </div>
    
    
</div>


<app-edit-product [product]="productToEdit" (productsUpdated)="updateProductList($event)"></app-edit-product>
