<div id="table-div" class="container my-5">
    <h1 class="mb-3">Products</h1>

    <table id="table" class="table table-striped" *ngIf="products && products.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of products">
              <td>{{prod.name}}</td>
              <td>{{prod.price}}</td>
              <td>{{prod.quantity}}</td>
              <td><button type="button" class="btn btn-outline-secondary" (click)="editProduct(prod)">Edit</button></td>
            </tr>
          </tbody>
    </table>
    <div >
        <p *ngIf="!products || products.length <= 0">No Products Found</p>
        <button type="button" class="btn btn-outline-secondary" (click)="initNewProduct()">Create Product</button>
    </div>
    
    
</div>
