<div id="table-div" class="container my-5">
    <h1 class="mb-3">Organization</h1>

    <table id="table" class="table table-striped" *ngIf="organizations && organizations.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organization number</th>
                <th>Adress</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let org of organizations">
              <td>{{org.name}}</td>
              <td>{{org.organizationId}}</td>
              <td>{{org.adress}}</td>
              <td><button type="button" class="btn btn-outline-secondary" (click)="editOrganization(org)">Edit</button></td>
            </tr>
          </tbody>
    </table>
    <div >
        <p *ngIf="!organizations || organizations.length <= 0">No Organizations Found</p>
        <button type="button" class="btn btn-outline-secondary" (click)="initNewOrganization()">Create organization</button>
    </div>
    
    
</div>