<div id="table-div" class="container my-5">
    <h1 class="mb-3">Orders</h1>

    <table id="table" class="table table-striped" *ngIf="orders && orders.length > 0">
        <thead>
            <tr>
                <th>Order number</th>
                <th>Customer</th>
                <th>Total amount</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.orderNr}}</td>
              <td>{{order.customerId}}</td>
              <td>{{order.totalAmount}}</td>
              <td><button type="button" class="btn btn-outline-secondary" (click)="editOrder(order)">Edit</button></td>
            </tr>
          </tbody>
    </table>
    <div >
        <p *ngIf="!orders || orders.length <= 0">No Orders Found</p>
        <button type="button" class="btn btn-outline-secondary" (click)="initNewOrder()">Create order</button>
    </div>
    
    
</div>


<app-edit-order [order]="orderToEdit" (ordersUpdated)="updateOrderList($event)"></app-edit-order>
