<div id = "table-div" class="container my-5">
  <h1 class="mb-3">Customers</h1>

  <table id="table" class="table table-striped" *ngIf="customers && customers.length > 0">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Telephone</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cus of customers">
            <td>{{cus.name}}</td>
            <td>{{cus.email}}</td>
            <td>{{cus.telephone}}</td>
            <td><button type="button" class="btn btn-light btn-outline-secondary" (click)="editCustomer(cus)">Edit</button></td>
          </tr>
        </tbody>
  </table>
  <div class="row">
    <div class="col-md-12 text-right">
      <p *ngIf="!customers || customers.length <= 0">No Customers Found</p>
      <button type="button" class="btn btn-light btn-outline-secondary  float-right" (click)="initNewCustomer()">Create customer</button>
    </div>
  </div>
    
    
</div>
